/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 690px;
}

.content-container {
  margin-bottom: 4rem;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/*
  Header
*/

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: $sans-serif-font-family;
}

.header a:hover {
  color:black;
  animation: dropshadow 3s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color .5s ease-in-out;
}

@keyframes dropshadow {
  0%{text-shadow: none;}
  10%{text-shadow: 2px 2px 1px $extra-light-gray-color; transform: translate(-2px, -2px);}
  25%{text-shadow: none; transform: none;}
  35%{text-shadow: -2px 2px 1px $extra-light-gray-color; transform: translate(2px, -2px);}
  50%{text-shadow: none; transform: none;}
  60%{text-shadow: -2px -2px 1px $extra-light-gray-color; transform: translate(2px, 2px);}
  75%{text-shadow: none; transform: none;}
  85%{text-shadow: 2px -2px 1px $extra-light-gray-color; transform: translate(-2px, 2px);}
  100%{text-shadow: none; transform: none;}
}

.header-title a {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-decoration: none;
  color: rgba(0,0,0,0);
  background: linear-gradient(to right, #00356b,#A51C30);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color .2s ease-in-out;
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

.header-subtitle {
  color: $light-gray-color;
  font-weight: 300;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: #00356b;
  font-size: 1.25rem;
  padding-right: 10px;
  font-weight: 500;
}

.menu-content a:hover {
  color: $light-gray-color;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: #A51C30;
  font-size: 1.25rem;
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
  .menu-content a {
    font-size: 1rem;
  }
}

/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: $light-gray-color;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: $dark-gray-color;
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}
