---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<ul class="posts-container">
  {% for post in site.categories.journal %}
    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}
    <li itemscope>
      <h2 href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</h2>
      <p>
        {{ post.content | strip_html | truncate: 250 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      </p>
    </li>
  {% endfor %}
</ul>
