---
layout: default
---

<h1>Welcome to my personal website!</h1>

If you want to know a bit more about my background, check out <a href="https://lemanhlinh.com/about">this autobiography</a>.
<hr>
<h2>Where am I?</h2>

I am residing in Santa Cruz, CA. I will be here for at least another year. It seems like I will be in San Francisco every weekend in July.<br>
<hr>
<h2>What am I reading?</h2>

Alas, I have become really impatient with reading long-form novels. An amalgam of texts I am currently interested in includes:<br>
1. All the articles within this <a href="https://astra-mag.com/articles/blunt-force-ethnic-credibility/">criticism of diasporic literature</a> that has taken Vietnamese community by storm;<br>
2. Some short stories from <a href="https://www.passengersjournal.com/volume-4-issue-2-prose/">Passengers Journal</a>;<br>
3. This <a href="https://link.springer.com/book/10.1057/9781137490803">book</a> commenting on a post-modernist reading of Mrs. Dalloway;<br>
4. <a href="https://www.investopedia.com/articles/07/ben_graham.asp">The Intelligent Investor</a> by Benjamin Graham;<br>
5. More of <a href="https://that-which.com/explaining-foucaults-archeology/?fbclid=IwAR2RcgVo6paKBB_CcnynFY1D4oA6yOGZUIYnl96wCZ0icCaVzWWsHfP3i2I">Foucault</a>, this time on the idea of archeology of knowledge.<br>

<hr>
<h2>Lyrics of the Week</h2>
New hair<br>
New tee<br>
New jeans<br>
Do you see?<br>
<h5>New Jeans <b><em>(NewJeans)</em></b></h5>
<hr>
<h2>Writing</h2>
<ul class="posts-container">
  {% for post in paginator.posts %}
    <div class="posts-container">
      <h3 class = "homeh3">
        <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
      </h3>
      {% if post.image %}
        <div class="thumbnail-container">
          <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
        </div>
      {% endif %}
      <p>
        {{ post.content | strip_html | truncate: 250 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      </p>
    </div>
  {% endfor %}
  <!-- Pagination links -->
  </ul>

  or check out an <a href="https://lemanhlinh.com/writing.html">Archive</a> of all my writing. 