---
layout: default
---

<h1>Welcome to my personal website!</h1>

If you want to know a bit more about my background, check out <a href="https://lemanhlinh.com/about">this autobiography</a>.
<hr>
<h2>Where am I?</h2>

I am currently a resident of Somerville, MA; sometimes I say I am in Boston or Cambridge, both of which I have easy access to. Let me know if you are in the area and want to meet up!<br>
<hr>
<h2>What am I interested in?</h2>

My research interests have evolved radically over time. I would like to think that there is a narrative consistency to my interests, but the directionality can appear random. As part of my work in the <a href="https://schifferlab.seas.harvard.edu/">Schiffer Group</a>, I am currently interested in the following topics:<br>

<h3>1. Kinetic Modeling in Electrochemical Systems</h3>
The term kinetics can be pretty generously defined among the swath of chemistry and engineering subfields, and I am not even sure if I am using it right. What I mean is some sort of computational fluid dynamics method that can account for electrochemically active species involved in heterogenous catalytic reactions and diffusion regimes. This is another case where the theory and experiment can be bridged without executing either: perhaps because analytical solutions are incredibly hard to make sense of, or because the requirements for confidence in experimental data are too high, but the computational cost is justifiable. Some inspirations that I am look at are <a href="https://doi.org/10.1016/j.rser.2014.02.034">this paper</a>, or <a href="10.1016/j.coelec.2017.09.010">this paper</a>, or <a href="https://doi.org/10.1063/5.0165835">this paper</a>.<br>

<h3>2. Flow Electrochemistry</h3>
I never really thought of this as a field in itself. Previously, I would look at applications of chemical engineering systems in green energy, or water treatment, and realize to myself that I really believe in the electrochemical systems that are used for such applications. Flow electrochemistry is perhaps my newest rationalization of an undercurrent that connects my scientific interests, but I am giving myself some time to think about the contexts in which it would be particularly powerful.<br>

<h3>3. Energy, Climate, and Sustainability Technology</h3>
I have been interested in energy technology for a long time, and I am still trying to figure out what I can do to contribute to the field. I am particularly interested in the intersection of energy technology and social sciences, and how we can use data-driven approaches to understand and improve energy systems. I am also interested in the role of energy technology in decarbonization efforts, and how we can use it to create a more sustainable future.<br>
<hr>
I ask myself lots of questions. They are not often that different from one another: rather, they are a string of recursive thoughts that expound upon one another. In the past, I often had issues with spelling out my thoughts exactly; college classes that required intensive writing helped me realize how to think analytically, ideate iteratively, and communicate effectively. Sometimes simplicity is the answer; othertimes terseness dominates. Nonetheless, the problems that I like to think about are never one-dimensional, often encompassing disciplines beyond my formal training. I enjoy connecting the dots as my way of committing to lifelong learning, and I hope that it is a great opportunity to meet people with more diverse thoughts than mine.<br>

Send me papers if you have anything related to <b>energy technology, decarbonization, the metaphysics of science, or the humanism of scientific progress</b>. I am always looking for different perspectives to influence my own.
<hr>
<h2>Viet PhD Application Support System</h2>
I am currently co-leading a new project, conveniently abbreviated as V-PASS, that aims to provide resources and mentorship to Vietnamese students interested in applying to doctoral programs abroad. In its first year, V-PASS is primarily targeting those looking to apply to Ph.D. programs in the United States, but we hope to expand to other countries in the future. Check out our <a href="https://www.v-pass.org/">website</a> for more information on how to get involved!<br>
<hr>
<h2>Young Researcher Accelerator Fellowship</h2>
Last year, I held a pilot program for a fellowship that I called the Young Researcher Accelerator Fellowship. The program was designed to provide a stipend and mentorship to high school students who were interested in conducting self-directed research (mostly in the quantiative social sciences, but many scientific and humanities topics also work). The program was designed to provide students with the resources to pursue a project, and I am looking forward to expanding the program this year. If you are a high school student interested in applying, or a college student or graduate hoping to facilitate this project in Vietnam, please send me an email at manhlinhle &lt; dot &gt; 00 &lt; at &gt; gmail &lt; dot &gt; com.