---
layout: default
---

<h1>Welcome to my personal website!</h1>

If you want to know a bit more about my background, check out <a href="https://lemanhlinh.com/about">this autobiography</a>.
<hr>
<h2>Where am I?</h2>

I am residing in Santa Cruz, CA. I will be here for at least another year.<br><br>

Some of my planned trips are listed below. Let me know if we can meet up.<br>
May 18, 2023 - May 23, 2023: New York/New Haven<br>
<hr>
<h2>What am I reading?</h2>

Alas, I have become really impatient with reading long-form novels. An amalgam of texts I am currently interested in includes:<br>
1. All the articles within this <a href="https://astra-mag.com/articles/blunt-force-ethnic-credibility/">criticism of diasporic literature</a> that has taken Vietnamese community by storm;<br>
2. This <a href="https://journals.sagepub.com/doi/full/10.1177/00420980221106340">paper</a> on territorial stigma vis-à-vis social mobility;<br>
3. Playing this <a href="https://www.ma.imperial.ac.uk/~buzzard/xena/natural_number_game/">game</a> about natural numbers operations.<br>

<hr>
<h2>Lyrics of the Week</h2>
My God, I'm so lonely, so I open the window<br>
To hear sounds of people, to hear sounds of people<br>
Venus, planet of love, was destroyed by global warming<br>
Did its people want too much too? Did its people want too much?
<h5>Nobody <b><em>(Mitski)</em></b></h5>
<hr>
<h2>Writing</h2>
<ul class="posts-container">
  {% for post in paginator.posts %}
    <div class="posts-container">
      <h3 class = "homeh3">
        <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
      </h3>
      {% if post.image %}
        <div class="thumbnail-container">
          <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
        </div>
      {% endif %}
      <p>
        {{ post.content | strip_html | truncate: 250 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      </p>
    </div>
  {% endfor %}
  <!-- Pagination links -->
  </ul>

  or check out more of my <a href="https://lemanhlinh.com/writing.html">Blog</a>. 