---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<article>
  {{ content }}
</article>

<script>
  todaydate = new Date();
  lastweek = new Date(todaydate.getTime() - 7 * 24 * 60 * 60 * 1000);
</script>

<ul class="posts-container">
  {% for post in site.categories.music %}
    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}
    <li itemscope>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
      <p>
        {{ post.content | strip_html | truncate: 100 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      </p>
    </li>
  {% endfor %}
</ul>
